<h3>Asteroid Name: <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['name'] %></h3>
<h3>Absolute Magnitude: <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['absolute_magnitude_h'] %></h3>
<h3>Estimated Diameter</h3>
<h3>(Kilometers): <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['estimated_diameter']['kilometers'] %></h3>
<h3>(Meters): <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['estimated_diameter']['meters'] %></h3>
<h3>(Feet): <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['estimated_diameter']['feet'] %></h3>
<h3>(Miles): <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['estimated_diameter']['miles'] %></h3>
<h3>Potentially Hazardous: <%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id]['is_potentially_hazardous_asteroid'] %></h3>
